--index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://pypi.org/simple
runpod>=1.7.0
git+https://github.com/huggingface/diffusers.git
transformers
accelerate
safetensors
huggingface_hub
pillow
protobuf
sentencepiece
torch==2.7.1
